<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" href="/img/irri.png">
	<title>Sensor Data</title>
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>Use this site to get your field scenario!</p>
		<form>
			<button>Fetch</button>
		</form>

		<p id="msg1"></p>
		<p id="msg2"></p>
	</div>
	{{>footer}}
	<script src="/js/app.js"></script>
</body>
</html> 
